
footer{

    position: absolute;
    width: 1440px;
    height: 48px;
    left: 0px;
    top: 882px;
    background-color: var(--light-gray);

}

span{

    position: absolute;
    left: 41.94%;
    right: 41.46%;
    top: 35.42%;
    bottom: 31.25%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    /* Roxo */

    color: var(--purple);
}