@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --red: #EA534A;
  --green: #3C6;
  --white: #FFF;
  --black: #1B1C1E;
  --gray: #90A4AE;
  --light-gray: #EEEEEE;
  --purple: #4E2096;
  --light-purple: #B48CF2;
  --radius: 16px;
}
