@import url("./global.css");

.header__caixa {
  border-bottom: 1px solid var(--light-gray);
}

#hamburguer {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 24px 60px;

}

.menu__logo {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: var(--purple);
}

.menu__botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 15px;
  padding: 4px 24px;
}

.menu__registro, .menu__perfil, .menu__home {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-family: "Roboto", sans-serif;

  width: max-content;
  height: 30px;

  padding: 0 20px;

  background-color: var(--white);
  color: var(--purple);

  border: solid 1px var(--purple);
  border-radius: var(--radius);

  transition: .3s;
}

.menu__registro:hover {
  background-color: var(--purple);
  color: var(--white);
}

.menu__login, .menu__logout {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16x;
  font-family: "Roboto", sans-serif;

  width: max-content;
  height: 30px;

  padding: 0 25px;

  background-color: var(--purple);
  color: var(--white);
  border-radius: var(--radius);

  transition: .3s;
}

.menu__login:hover {
  background-color: #581bba;
}

@media (max-width: 600px) {
  .menu__botoes {
    display: flex;
    margin-top: 10px;
  }

  .menu {
    flex-direction: column;
  }

  #hamburguer {
    display: inline-block;

    position: absolute;
    left: 80.94%;
    right: 11.28%;
    top: 3.5%;
    bottom: 94.09%;

    cursor: pointer;
  }
}
