@import url(./global.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./modal.css);

.div__list-cards {
  max-width: 100%;
}

.list-cards__li {
  width: 200px;
  height: 300px;
  background: var(--white);
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  border-radius: 4px;
}

.list-cards__foto {
  max-height: 160px;
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.list-cards__info {
  display: flex;
  justify-content: space-between;
  height: 45%;
  flex-direction: column;
  padding: 16px;
}

.list-cards__nome {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: var(--purple);
}

.list-cards__especie {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;

  color: var(--gray)
}

.list-cards__botao, #btn-adotar {
  font-family: 'Roboto', sans-serif;
  align-self: center;
  background: var(--green);
  border-radius: 16px;
  color: var(--white);
  padding: 4px 16px;
  border: none
}

@media(min-width: 768px) {

  .div__list-cards {
    max-width: 728px;
    margin: 0 auto;
  }

  .list-cards__li {
    list-style: none;
    width: 200px;
  }

  .list-cards__nome {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: var(--purple);
  }

  .list-cards__especie {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 100%;
    color: var(--gray);
  }

  .list-cards__botao {
    color: var(--white);
    border: transparent;
    align-self: center;
    background: var(--green);
    border-radius: var(--radius);
    font-family: 'Roboto', sans-serif;
    padding: 4px 16px;
  }
}
